.container {
  font-family: "robotoregular" !important;
}

.row {
  width: 100%;
  position: relative;
  display: block;
  z-index: 100;
}

.header {
  height: 65px;
  background: #1c4596;
}

.alrajhiLogo {
  display: block;
  width: 170px;
  height: 50px;
  position: absolute;
  right: 20px;
  background-image: url("../logo/alrajhiLogo.svg");
  background-position: center 4px; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.containerBody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 165px);
}

.mainContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.epfLogo {
  display: block;
  max-width: 450px;
  margin: 0 50px;
  min-width: 250px;
  min-height: 160px;
  background-image: url("../logo/epf.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to cover the entire container */
}

.epfForm {
  background: #cba343;
  border-radius: 20px;
  width: 40%;
  max-width: 500px;
  min-width: 400px;
}

@media only screen and (max-width: 1024px) {
  .epfLogo {
    width: 100%;
    margin: auto;
  }

  .epfForm {
    margin: 30px auto;
    width: 50%;
  }
}

.epfForm > h2 {
  font-family: "robotobold" !important;
  text-align: center;
  margin-top: 50px;
}

.epfForm > .input {
  display: block;
  margin: auto 60px;
}

.input > p {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.fieldTitle {
  border-radius: 25px 0px 0px 25px;
  width: 60px;
  padding: 0px 20px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  border: none !important;
  background: #ddd;
  color: #7b7c76;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%237b7c76'><polygon points='0,0 75,0 40,40'/></svg>") no-repeat;
  background-size: 12px;
  background-position: calc(100% - 7px) 17px;
  background-repeat: no-repeat;
  background-color: #ddd;
  height: 39px;
}

.inputRow {
  width: 100%;
}

.inputField {
  border-radius: 0px 25px 25px 0px;
  width: calc(100% - 109px);
  font-size: 12px;
  border: none !important;
  height: 39px;
  padding: 0 0 0 5px !important;
}

:focus {
  outline: none !important;
}

.epfForm > button {
  font-family: "robotobold" !important;
  font-size: 16px;
  font-weight: 500;
  display: block;
  background: #312f93;
  width: 70%;
  min-width: 250px;
  margin: 30px auto 40px;
  padding: 10px;
  text-align: center;
  color: #fff;
  border-radius: 35px;
  cursor: pointer;
}

.footer {
  display: table;
  bottom: 0px;
  height: 50px;
  max-width: 100%;
  overflow: hidden;
  background: #d96318;
}

.copyRight {
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-size: 0.85rem;
  text-align: right;
  padding-right: 30px;
  margin-left: 30px;
}

.footer2 {
  display: table;
  background: #999999;
  height: 50px;
}

.contactUs {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 50px;
  padding-left: 40px;
  background-image: url("../logo/phone.png");
  background-position: center left; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 45px; /* Resize the background image to cover the entire container */
  color: #fff;
  font-size: 0.85rem;
}

.contactUs > .ant-row {
  margin-top: 5px;
}

.backdrop {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 20; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  overflow-y: hidden !important;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

/* Loader */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #1c4596; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 40%;
  left: calc(50% - 60px);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* PDF */
.pdf {
  padding: 30px;
  width: 733px;
}

.pdfHeader {
  height: 45px;
  background: #1c4596;
}

.pdfAlrajhiLogo {
  display: block;
  width: 120px;
  height: 40px;
  position: absolute;
  left: 630px;
  background-image: url("../logo/alrajhiLogo.svg");
  background-position: center 4px; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.tableRow {
  display: table-row;
}

.tableCell {
  display: table-cell;
}

.totalRow {
  display: contents;
}

.pdfKWSPLogo {
  display: block;
  width: 250px;
  max-width: 350px;
  margin: 0 60px 0 50px;
  min-width: 250px;
  min-height: 160px;
  background-image: url("../logo/epf.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to cover the entire container */
}

.pdfName {
  display: table-cell;
  vertical-align: middle;
}

.pdfTitle {
  text-align: center;
  margin-top: 0px;
}

.statementTable {
  margin-top: 30px;
  border: 1px solid black;
}

th,
td {
  border: 1px solid black;
  padding: 5px 10px;
  min-width: 80px;
}

.tableHeader {
  background-color: #bdd6ee;
}

.totalAmt {
  font-weight: bold;
}

.textRight {
  text-align: right;
}
